.modal-image{
    border-radius: 10px;
    opacity: 1;
    z-index: 6;
}
.modal-close{
    position: absolute;
    bottom: 5%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.modal-title{
    text-align: center;
    color: #ffffff; 
}
.ReactModal__Overlay{ 
    background-color:  rgba(134, 171, 170, 0.76)!important;
    z-index: 5;
}
.modal-slider{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.ReactModal__Content{
    position: relative!important;
    margin: 0 auto;
    right: 0!important;
    bottom: 0!important;
    width: 80%;
    margin-left: unset;
}
